@font-face {
  font-family: katonifont;
   src: url("../font/KhakiStd-1.otf") format('opentype');
   font-weight: "bold";
}

html {
  background-color: #444444;;
}

header {
  background-color: white;
}

.banner {
   /* border: 1px solid red; */
   display: flex;
}

.font {
  margin-left: 4%;
  font-size:300%;
}

h2 {
  font-family: katonifont, sans-serif;
  font-size: 280%;
  text-align: center;
}

.welcome {
  margin-top: 3%;
  margin-bottom:1%;
  margin-left: 10%;
  padding-right: 15%;
  padding-top: 1%;
  background-color: #fbb03f;
  font-family: katonifont, sans-serif;
  width: 50%;
  font-size: 280%;
  text-align: center;
}

main {
  background : linear-gradient( white ,#fde2b8, #fbb03f );
  padding-top: 4%;
  padding-bottom: 7%;
  text-align: center;
}


#search {
  border-radius: 20px;
  padding: 1%;
  background-color: #6d6c5c;
}

::placeholder {
  color: white;
}

#caroussel {
  /* border: 1px solid red; */
  display : flex;
  margin-top: 5%;
  height: 300px;
}

.slider  {
  margin-top: 3%;
  /* border: 1px solid red; */
  position: absolute;
  width: 60px;
  height: 300px;
  z-index:1;
}

#slider-previous {
  margin-right: 0%;
}

#slider-next {
  margin-left: 94%;
}

#scrolled {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  height: 300px;
  /* border:1px solid red; */
  margin-top: 3%;
  z-index:0;
  position: relative;
}

#nothing {
  display: block;
  /* border:1px solid red; */
  text-align: center;
    font-family: katonifont;
    font-size: 300%;
    width: 100%;
}

.picture {
   width: 20%;
   height: 300px;
   transition-duration: 0.2s;
}

.picture:hover {
  width: 25%;
  height: 350px;
  margin-top: -10%;
  padding-left: 2%;
  padding-right: 2%;
}


.introduce {
  display: inline-block;
  width: 40%;
  /* border: 1px solid red; */
}

.description {
  display: inline-block;
  font-family: katonifont;
  /* border: 1px solid red; */
  background-color: white;
  width: 50%;
  margin-right: 5%;
  float: right;
}

.imgComics {
  width: 80%;
}

.comics {
  padding-left: 7%;
  margin: auto;
  width: 900px;
  height: 1200px;
}

.lel {
  border: none;
  border-radius: 20px;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: blue;
}

footer {
  clear: both;
  background-color: #444444;
}

.Sponsor {
  text-align: center;
  padding-right: 10%;
  border-radius: 20px;
  width: 10%;
}
